.Users-header {
  background-image: url("/public/55.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.addUser {
  background-image: url("/public/22.png");
  background-repeat: no-repeat;
  background-size: cover;
}
