.App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.App-header {
  width: 99wh;
  margin: auto;
  height: 100vh;
  background-image: url("../public/44.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: calc(10px + 2vmin);
  color: white;
}
label {
  display: flex;
  justify-content: center;
}

input {
  margin-left: 40%;
  padding: 2px;
}

.App-link {
  color: #3297da;
}
h1 {
  margin: 20px auto;
  text-align: center;
}

table {
  width: 80%;
  background-color: rgb(65, 64, 64);
  border-collapse: collapse;
}

table,
th,
td {
  margin: auto;
  margin-top: 2rem;
  padding: 3px;
  border: 3px solid #fff;
  text-align: center;
}
.edet {
  margin-right: 10px;
}
